DATABASE_URL="mysql://aroot:123456@127.0.0.1:33066/xx-db"
DATABASE_USER="aroot"
DATABASE_PASSWORD="123456"
DATABASE_NAME="xx-db"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=33066
JWT_SECRET="koa-super-secret-key_2026"
SWAGGER_ENABLE=false
PORT=3000